h1 {
        margin-top:35px;
        font-size:20px;
        text-align:center;
        font-family:Helvetica;
        text-align:center;
}
      
td {
	vertical-align:center;
	padding:5px;
	font-size:15px;
	font-family:Helvetica;
}
      
body {
  background-color:#e9eaea;
}
      
.table {
  border:0px;
  border-spacing:0px;
}
      
input[type="checkbox"] {
  padding:0px;
}
