<div>
	<img src="pictures/1.jpg" alt="">
	<img src="pictures/2.jpg" alt="">
	<img src="pictures/3.jpg" alt="">
	<img src="pictures/4.jpg" alt="">
	<img src="pictures/5.jpg" alt="">
	<img src="pictures/6.jpg" alt="">
</div>