@font-face { font-family: Myriad; src: url('fonts/myriad-pro/MYRIADPRO-REGULAR.otf'); } 
@font-face { font-family: Myriad; font-weight: bold; src: url('fonts/myriad-pro/MYRIADPRO-BOLD.otf');}



body {
    background-color: black;
    margin: 0;
    cursor: 
        url(http://downloads.totallyfreecursors.com/cursor_files/fly.cur), 
        url(http://downloads.totallyfreecursors.com/thumbnails/fly.gif), 
        auto;
}
.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #3F4142;
}

span {
    padding-top: 20px;
    padding-bottom: 20px;
    display: block;
    text-align: center;
    font-family: myriad-pro-regular, sans-serif;
    text-decoration: none;
    color: #7F8587;
    font-size: 24px;
}

span:hover {
    cursor: hand;
    cursor: pointer;
    background-color: #333536;
    text-decoration: none;
}



img {
    display: flex;
    flex: 1;
    width:100%;
    padding: 0;
    margin: 0;
    padding-bottom: 10px;
}

#home{
    width:33%;
    float: left;

}

#digi{
    width:33%;
    float: left;
    
}

#about{
    width:33%;
    float: right;
    
}

#container {
    margin: 0;
    padding-top: 68px;
    width: 100%;
}


#navi {
    width:50%;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}

p {
    color: white;
}